{% extends "base.html" %}

{% block title %}Workout{% endblock %}

{% block content %}
  
  <h4>the workout.html page is loading</h4>
  <div id='workout-detail'>
{% comment %} This hidden type tag below is used so we can access the variable from the vue app in our other page {% endcomment %}
    <input type="hidden" value="{{ workout_id }}" id='workout_id'>
    <h2>[[workoutResponse.title]]</h2>
    <h3>Exercises</h3>
    <ul>
      <li v-for="item in workoutResponse.nested_exercises" :key="item.id">
        <h3>[[item.title]]</h3>
        <h3>[[item.duration]] seconds</h3>
      </li>
    </ul>
  </div>

{% endblock %}